<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="text/html, charset=UTF-8" />
		<title>AmperSchool</title>
		<script src="javascripts/jquery.min.js"></script>
		<script src="javascripts/swiper.js"></script>
		<script src="javascripts/resize.js"></script>
		<link href="stylesheets/general_style.css" rel="stylesheet" type="text/css">
		<link href="stylesheets/start_style.css" rel="stylesheet" type="text/css">
		<link href="stylesheets/specs_style.css" rel="stylesheet" type="text/css">
		<link href="stylesheets/results_style.css" rel="stylesheet" type="text/css">
		<link href="stylesheets/application_style.css" rel="stylesheet" type="text/css">
		<link href="stylesheets/social_networks_style.css" rel="stylesheet" type="text/css">
		<link href="stylesheets/pricelist_style.css" rel="stylesheet" type="text/css">
		<link href="stylesheets/footer_style.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div id="background">
			<!--Start graphics-->
			<div id="start_topbox">
				<div id="start_logo"><img src="images/logo.png"></div>
				<div id="start_enter">ВОЙТИ</div>
				<div id="start_name">Школа физики в СПб</div>	
			</div>
			<div id="start_photo_1"><img src="images/photo_9.png"></div>
			<div id="start_photo_2"><img src="images/scientist_1.png"></div>
			<div id="start_arrowdown"><img src="images/arrowdown.png"></div>
			

			<!--Start content-->


			<div id="start_greeting">ПРИВЕТ, ЭТО ШКОЛА ФИЗИКИ "АМПЕР"</div>
			<div id="start_subgreeting">Мы подготовим вас к экзаменам по физике или просто поможем подтянуть знания</div>

			<!--Specs graphics-->

				<dev id="specs_photo_1"><img src ="images/photo_4.png"></dev>
				<dev id="specs_photo_2"><img src="images/photo_5.png"></dev>
				<dev id="specs_photo_3"><img src="images/photo_6.png"></dev>
				<dev id="specs_photo_4"><img src="images/photo_7.png"></dev>
				<dev id="specs_photo_5"><img src="images/photo_8.png"></dev>
				<dev id="specs_rectangle_1"></dev>
				<dev id="specs_rectangle_2"></dev>
				<dev id="specs_rectangle_3"></dev>
				<dev id="specs_rectangle_4"></dev>
				<dev id="specs_line_1"><img src="images/line_1.png"></dev>
				<dev id="specs_line_2"><img src="images/line_2.png"></dev>
				<dev id="specs_line_3"><img src="images/line_3.png"></dev>

			<!--Specs content-->

				<dev id="specs_header">
					НАША ШКОЛА СПЕЦИАЛИЗИРУЕТСЯ <br>
					ТОЛЬКО НА <span class="black_red">ФИЗИКЕ</span> И <br>
					МЫ ЗНАЕМ О ПОДГОТОВКЕ К ЭКЗАМЕНАМ ВСЕ!
				</dev>
				<dev id="specs_subheader">В ЧЕМ НАШЕ <span class="black_red">ОТЛИЧИЕ</span>?</dev>
				<dev id="specs_article_1">
					В процессе обучения мы <span class="bold">бесплатно</span> выдаем<br>
					свои методические пособия, задачники и<br>
					полезные таблицы, которые могут стать<br>
					<span class="bold">хорошим подспорьем</span> в изучении этой<br>
					непростой науки
				</dev>
				<dev id="specs_article_2">
					Вы <span class="bold">получаете доступ</span> к разработанной<br>
					нами системе тестирования:<br>
					она позволит <span class="bold">лучше закрепить знания</span>
				</dev>
				<dev id="specs_article_3">
					Вы также получаете доступ к вашему<br>
					<span class="bold">личному кабинету</span>, в котором вы<br>
					сможете отслеживать свой прогресс
				</dev>
				<dev id="specs_article_4">
					После каждого раздела мы проводим <span class="bold">контрольные<br
					работы><span> и устные экзамены по теории <span class="bold">индивидуально<br>
					с каждым учеником</span>, а после каждой новой темы мы<br>
					проводим небольшие самостоятельные работы, кото-<br>
					ры позволяют <span class="bold">выявить слабые места</span>
				</dev>
				<dev id="specs_article_5">
					Мы не распыляемся на <span class="bold">множество предметов.</span><br>
					Так нам проще сконцентрироваться на каждом<br>
					ученике и найти к <span class="bold">каждому свой подход</span>
				</dev>
				
			<!--Results graphics-->

				<div id="results_rectangle">	
					<div id="results_swiper_left">
						<div id="results_arrow_left"><img src="images/arrowleft.png"></div>
					</div>
					<div id="results_swiper_right">
						<div id="results_arrow_right"><img src="images/arrowright.png"></div>
					</div>
				</div>
				<div id="results_box">
					<div id="results_student_photo"><img src="images/photo_10.png"></div>
					<div id="results_content">Результаты<br>
						Результаты бла-бла-бла Результаты бла-бла-бла Результаты бла-бла-бла
						Результаты бла-бла-бла Результаты бла-бла-бла Результаты бла-бла-бла
						Результаты бла-бла-бла 
					</div>
					<div id="results_student_name">Миша Верёвкин</div>
				</div>

			<!--Results content-->
			
				<div id="results_bottom">Хочу так же!
					<span class="regular_red_italic">Оставить заявку!</span>
				</div>
				<div id="results_header">РЕЗУЛЬТАТЫ НАШИХ УЧЕНИКОВ</div>

			<!--Application graphics-->

				<div id="application_rectangle"></div>
				<div id="application_photo_1"><img src="images/photo_1.png"></div>
				<div id="application_photo_2"><img src="images/photo_2.png"></div>
				<div id="application_photo_3"><img src="images/photo_3.png"></div>
				<div id="application_rectangle_rounded_1">ИМЯ</div>			
				<div id="application_rectangle_rounded_2">ФАМИЛИЯ</div>
				<div id="application_rectangle_rounded_3">ТЕЛЕФОН</div>
				<div id="application_rectangle_rounded_4">ЗАПИСАТЬСЯ</div>

			<!--Application content-->

				<dev id="application_header">ПЕРВОЕ ЗАНЯТИЕ<br>
					БЕСПЛАТНО!
				</dev>
				<dev id="application_subheader">С нами ты сдашь экзамены на ИЗИ!</dev>

			<!--Social networks graphics-->
				
				<div id="social_networks_like_1"><img src="images/like_1.png"></div>
				<div id="social_networks_like_2"><img src="images/like_2.png"></div>
				<div id="social_networks_like_3"><img src="images/like_3.png"></div>
				<div id="social_networks_like_4"><img src="images/like_4.png"></div>
				<div id="social_networks_like_5"><img src="images/like_5.png"></div>
				<div id="social_networks_like_6"><img src="images/like_6.png"></div>
				<div id="social_networks_like_7"><img src="images/like_7.png"></div>
				<div id="social_networks_macbook"><img src="images/macbook.png"></div>
				<div id="social_networks_screenshot"><img src="images/screenshot.png"></div>
				<div id="social_networks_rectangle_blue"></div>			
				<div id="social_networks_rectangle_red"></div>
				<div id="social_networks_rectangle_white_left">Вконтакте</div>
				<div id="social_networks_rectangle_white_right">Instagram</div>

			<!--Social networks content-->

				<div id="social_networks_header">МЫ В СОЦИАЛЬНЫХ СЕТЯХ</div>
				<div id="social_networks_subheader">Актуальные новости, шпаргалки, хитрости<br>
					сдачи ЕГЭ, подписывайся!
				</div>

			<!--Pricelist graphics-->
				
				<div id="pricelist_scientist_3"><img src="images/scientist_3.png"></div>
				<div id="pricelist_scientist_2"><img src="images/scientist_2.png"></div>
				<div id="pricelist_rectangle_1"></div>
				<div id="pricelist_rectangle_rounded_1">ЗАПИСАТЬСЯ</div>
				<div id="pricelist_rectangle_2"></div>
				<div id="pricelist_rectangle_rounded_2">ЗАПИСАТЬСЯ</div>
				<div id="pricelist_rectangle_3"></div>
				<div id="pricelist_rectangle_rounded_3">ЗАПИСАТЬСЯ</div>

			<!--Pricelist content-->

				<div id="pricelist_header">СТОИМОСТЬ ЗАНЯТИЙ</div>

				<div id="pricelist_length">Длительность занятий 2 ак. часа (90мин)</div>

				<div id="pricelist_1_name">11 КЛАССЫ<br>
					<span class="regular_gray">Профильная подготовка</span>
				</div>
				<div id="pricelist_1_lessons">12 занятий в месяц <br>
					3 раза в неделю
				</div>
				<div id="pricelist_1_price">9000 руб. <br>
					<span class="regular_red">в месяц</span>
				</div>


				<div id="pricelist_2_name">9, 10, 11 КЛАССЫ</div>
				<div id="pricelist_2_lessons">8 занятий в месяц <br>
					2 раза в неделю
				</div>
				<div id="pricelist_2_price">7000 руб. <br>
					<span class="regular_red">в месяц</span>
				</div>


				<div id="pricelist_3_name">7, 8 КЛАССЫ</div>
				<div id="pricelist_3_lessons">4 занятия в месяц <br>
					1 раза в неделю
				</div>
				<div id="pricelist_3_price">4000 руб. <br>
					<span class="regular_red">в месяц</span>
				</div>
			
			<!--Footer graphics-->

			<div id="footer_rectangle"></div>

			<!--Footer content-->

			<div id="footer_header">
				АМПЕР<br>
				<span class="regular_red_footer">школа физики</span>
			</div>
			<div id="footer_address_1">
				Санкт-Петербург:<br>
				<span class="regular_blue">Сенюкова 15, 3 этаж</span> <br>
				тел. +7-904-108-16-25
			</div>
			<div id="footer_address_2">
				Ухта:<br>
				<span class="regular_blue">Сенюкова 15, 3 этаж</span> <br>
				тел. +7-904-108-16-25
			</div>
		</div>
 </body>
 </html>